@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Bussines Academy<br />
    <br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Technical Support:</strong>   <a href="mailto:Support@example.com">Aida</a><br />
    <strong>Technical Support:</strong>   <a href="mailto:Support@example.com">Oleksandr</a><br />
    <strong>Bussines Support:</strong>   <a href="mailto:Support@example.com">Chom</a><br />
    <strong>Bussines Support:</strong>   <a href="mailto:Support@example.com">Simas</a><br />
   
</address>