@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Food Maniacs</h1>
    <p class="lead">Food Maniacx is a free web application</p>
    <p><a onclick="window.location.href='/Recipe/Index'" class="btn btn-primary btn-large">All Recepts &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2></h2>
        <p>
           
        </p>
        <p><a class="btn btn-default" href="">Button1 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Button2 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2></h2>
        <p></p>
        <p><a class="btn btn-default" href="">Button3 &raquo;</a></p>
    </div>
</div>